<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>ScoreManager</display-name>

  <!-- studentUpdate.jspを呼ぶための設定 -->
  <servlet>
    <servlet-name>studentUpdate</servlet-name>
    <jsp-file>/student_update.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentUpdate</servlet-name>
    <url-pattern>/studentUpdate</url-pattern>
  </servlet-mapping>

  <!-- welcome-fileを設定しておくと便利 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
